{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Forgot Password ? </h1>
    </div>
    <section class="form5 cid-svlph4lLoJ" id="form5-1x">
    
        <div class="container-fluid">
            <div class="mbr-section-head">
                <!-- <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Forgot password ?</strong>
                </h3> -->
                <!-- <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                    Forgot Password ?
                </h4> -->
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form">
                    <form action="" method="POST" class="mbr-form form-with-styler"
                        data-form-title="Form Name">
                        {{form.hidden_tag()}}
                        <!-- <input type="hidden" name="email" data-form-email="true"
                            value="UTwkdkSXDDRUuxejV6p70KdU5YxtWkEjN/5DXNGKbEKL0H8zVyyOcV6uUPG3dIHeEMdM5gfht+Rz7aZ6qJFcBsRaMg4FMXOcxxaYvIjCiZN95HCAjSrvBCQVigztMjQE"> -->
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Password reset request completed</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...!
                                some
                                problem! Try again or Report problem at feedback</div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group" data-for="email">
                                {{form.email(class="form-control",placeholder="Email")}}
                                <!-- <input type="url" name="url" placeholder="Your Site" data-form-field="url"
                                    class="form-control" value="" id="url-form5-1x"> -->
                            </div>
                            {% if 'password' in form.data %}
                            <div class="col-md col-sm-12 form-group" data-for="password">
                                {{form.password(class="form-control",placeholder="New Password",
                                value="",id="name-form5-1x")}}
                                <!-- <input type="text" name="name" placeholder="Name" data-form-field="name"
                                    class="form-control" value="" id="name-form5-1x"> -->
                            </div>
                            {% endif %}
                            {% if 'password2' in form.data %}
                            <div class="col-md col-sm-12 form-group" data-for="password">
                                {{form.password2(class="form-control",placeholder="Retype New Password",
                                value="",id="email-form5-1x",type="password")}}
                                <!-- <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                                    class="form-control" value="" id="email-form5-1x"> -->
                            </div>
                            {% endif %}
                            {% if 'show_password' in form.data %}
                            <div class="col-12 mb-20">
                                {{form.show_password()}}
                                {{form.show_password.label}}
                                <!-- <input class="form-control" type="password" placeholder="Password"> -->
                            </div>
                            {% endif %}
                        
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                {{ form.submit(class="btn btn-primary display-4") }}
                                <!-- <button type="submit" class="btn btn-primary display-4">Send message</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block scripts %}

{% if 'show_password' in form.data %}
<script> 
        window.addEventListener("load", function(){
            var checkbox  = document.getElementById('{{form.show_password.id}}');
            var x = document.getElementById('name-form5-1x');
            var y = document.getElementById('email-form5-1x');
            checkbox.addEventListener('change', function() {
            if(this.checked) {
                    x.type = 'text'; 
                    y.type = 'text';
            } else {
                    x.type = 'password';
                    y.type = 'password';}                  });});
        
</script>
{% endif %}


{% endblock %}