<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="summary_large_image" />
    <!-- assets/images/index-meta.png -->
    <meta name="twitter:image:src" content="{{url_for('static', filename='images/index-meta.png')}}">
    <!-- assets/images/index-meta.png -->
    <meta property="og:image" content="{{url_for('static', filename='images/index-meta.png')}}">
    <meta name="twitter:title" content="Home page">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/mbr-96x114.jpg')}}" type="image/x-icon">
    <meta name="description"
        content="Rutherfords' studio is a new turn of learning platforms.
It is enriched with all the heavy technologies, communities, and wide variety of resources are supported here. Checkout how our studio can help you.">


    <title>{% block title %}base title{% endblock %}</title>
    
    {% include 'nav_footer_css.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <section class="header1 cid-s48MCQYojq mbr-parallax-background align-center container" id="header1-f">
    {%block page_content %}
    {% endblock %}
    </section>
    {%block page2_content %}
    {% endblock %}
    {% include 'nav_footer_src.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>