<!DOCTYPE html>
<html>

<head>
     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--   -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="assets/images/explorer-meta.png">
    <meta property="og:image" content="assets/images/explorer-meta.png">
    <meta name="twitter:title" content="Explorer 🌍">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/mbr-96x114.jpg')}}" type="image/x-icon">
    <meta name="description"
        content="As a part of Rutherfords' Initiative to make happy learning experience. The explorer is a platform of all practical and top courses and blogs expo. Signin and Checkout our communities, blogs, projects and many more resources. ">


    <title>Explorer 🌍</title>
    {% include 'nav_footer_css.html' %}




</head>

<body>

    <section class="header14 cid-svlswrTrfi" id="header14-21">





        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-4 image-wrapper">
                    <img src="assets/images/2.jpg" alt="Rutherfords Studio">
                </div>
                <div class="col-12 col-md">
                    <div class="text-wrapper">
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>The blog of the
                                week</strong></h1>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Full width intro with a sold background and a picture on the side. You can easily change the
                            size of image in block parameters.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-secondary display-4" href="https://mobiri.se">Explore
                                all features</a>
                            <a class="btn btn-black-outline display-4" href="https://mobiri.se">Create
                                account &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'nav.html' %}

    

    <section class="info2 cid-svluu1ofGP" id="info2-27">


        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="card col-12 col-lg-6">
                    <div class="wrapper">
                        <h3 class="mbr-section-title mb-4 mbr-fonts-style display-5"><strong>Youtube Course of the
                                week</strong></h3>
                        <p class="mbr-text mb-4 mbr-fonts-style display-4">
                            Visit our Help Center to get started developing websites withRutherrford Studio. Use Help Center to
                            find answers to your questions. Contact us directly at info@site.com</p>
                        <div class="mbr-section-btn"><a class="btn btn-white display-4" href="https://mobiri.se">Watch
                                the course</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="wrapper">
                        <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>OpenSource Course of the
                                week</strong></h3>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Beautiful website blocks, templates and themes help you to start easily. Expand your
                           Rutherford Studioexperience with Code Editor, Form Builder and other extensions.</p>
                        <div class="mbr-section-btn"><a class="btn btn-white display-4" href="https://mobiri.se">Visit
                                site&nbsp;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features3 cid-svlt59mjkm" id="features3-22">


        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Top
                        Blogs&nbsp;</strong></h4>

            </div>
            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/features1.jpg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>No Coding</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                                <em>Card Subtitle</em>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7"> Rutherford studio is an easy website
                                builder.&nbsp;</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href=""
                                class="btn btn-primary item-btn display-7" target="_blank">Learn More
                                &gt;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/features2.jpg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Mobile Friendly</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                                <em>Card Subtitle</em>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">You don't have to code&nbsp;</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href=""
                                class="btn btn-primary item-btn display-7" target="_blank">Learn More
                                &gt;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/features3.jpg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Unique Styles</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                                <em>Card Subtitle</em>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">Select the theme that suits
                                you.&nbsp;<br></p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href=""
                                class="btn btn-primary item-btn display-7" target="_blank">Learn More
                                &gt;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/features4.jpg" data-slide-to="3" alt="">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Unique Styles</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                                <em>Card Subtitle</em>
                            </h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">Select it<br></p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href=""
                                class="btn btn-primary item-btn display-7" target="_blank">Learn More
                                &gt;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content4 cid-svlu2N0nMz" id="content4-26">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="title col-md-12 col-lg-11">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Trending
                            Projects</strong></h3>
                    <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">
                        You can arrange your articles with the Rutherfords studio.
                    </h4>

                </div>
            </div>
        </div>
    </section>

    <section class="slider2 cid-svltklZLIN" id="slider2-23">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12">
                    <div class="carousel slide" id="svtV1KjwL4" data-ride="carousel" data-interval="5000">

                        <ol class="carousel-indicators">
                            <li data-slide-to="0" class="active" data-target="#svtV1KjwL4"></li>
                            <li data-slide-to="1" data-target="#svtV1KjwL4"></li>
                            <li data-slide-to="2" data-target="#svtV1KjwL4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item slider-image item active">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/background3.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/background5.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/background8.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev"
                            href="#svtV1KjwL4">
                            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control carousel-control-next" role="button" data-slide="next"
                            href="#svtV1KjwL4">
                            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team2 cid-svltqjxdpK" xmlns="http://www.w3.org/1999/html" id="team2-25">


        <div class="container">
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="assets/images/team1.jpg" alt="Rutherfords Studio">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title mbr-fonts-style m-0 display-5">
                                    <strong>John Smith</strong>
                                </h5>
                                <h6 class="mbr-fonts-style mb-3 display-4">
                                    <strong>Programmer</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    Themes in the  Rutherford Studio web app offer multiple blocks: intros, sliders,
                                    galleries, forms, articles, and so on. Start a project and click on the red plus
                                    buttons
                                    to see the blocks available for your theme.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="assets/images/team2.jpg" alt="Rutherfords Studio">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <h5 class="card-title mbr-fonts-style m-0 display-5">
                                    <strong>Ann Brown</strong>
                                </h5>
                                <h6 class="mbr-fonts-style mb-3 display-4">
                                    <strong>Manager</strong>
                                </h6>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    Themes in the  Rutherford Studio web app offer multiple blocks: intros, sliders,
                                    galleries, forms, articles, and so on. Start a project and click on the red plus
                                    buttons
                                    to see the blocks available for your theme.
                                </p>
                                <div class="social-row display-7">
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="#" target="_blank">
                                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="testimonails3 carousel slide testimonials-slider cid-svltnQAf1A" data-interval="false"
        id="testimonials3-24">





        <div class="text-center container">
            <h3 class="mb-4 mbr-fonts-style display-2">
                <strong>What Our Fantastic Users Say</strong>
            </h3>

            <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel"
                data-interval="8000">
                <div class="carousel-inner">


                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                <img src="assets/images/team3.jpg">
                            </div>
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-7">
                                    Themes in the  Rutherford Studio web app offer multiple blocks: intros, sliders,
                                    galleries, forms, articles, and so on. Start a project and click on the red plus
                                    buttons to see the blocks available for your theme.
                                </p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-7">
                                <strong>Alexa</strong>
                            </div>
                            <div class="user_desk mbr-fonts-style display-7">
                                DESIGNER
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="user col-md-8">
                            <div class="user_image">
                                <img src="assets/images/team2.jpg">
                            </div>
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-7">
                                    Themes in the  Rutherford Studio web app offer multiple blocks: intros, sliders,
                                    galleries, forms, articles, and so on. Start a project and click on the red plus
                                    buttons to see the blocks available for your theme.
                                </p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-7">
                                <strong>Linda</strong>
                            </div>
                            <div class="user_desk mbr-fonts-style display-7">
                                DEVELOPER
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-controls">
                    <a class="carousel-control-prev" role="button" data-slide="prev">
                        <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" role="button" data-slide="next">
                        <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer4 cid-svkBIZxVvA" once="footers" id="footer4-20">



        <div class="container">
            <div class="row mbr-white">
                <div class="col-6 col-lg-3">
                    <div class="media-wrap col-md-8 col-12">
                        <a
                            href="https://www.google.com/search?q=ernest+rutherford&sxsrf=ALeKk01wwM9oBW17n_HVd1RKdwkoIWUl5A%3A1619113481415&source=hp&ei=CbaBYJvcFrf6z7sP_6-7oAw&iflsig=AINFCbYAAAAAYIHEGV1cZUQIy-jFh95OuSlMxxD8MKtb&gs_ssp=eJzj4tDP1TcwyjUvMmD0EkwtykstLlEoKi3JSC1Kyy9KAQCEJgnY&oq=ernest&gs_lcp=Cgdnd3Mtd2l6EAMYATIECCMQJzIHCC4QsQMQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIECAAQQzIFCC4QsQMyAggAOgoILhDqAhAnEJMCOgcIIxDqAhAnOgQILhBDOgsILhCxAxDHARCjAjoICAAQsQMQgwFQvAxY2hZg0iVoAXAAeACAAdgBiAGiCJIBBTAuNC4ymAEAoAEBqgEHZ3dzLXdperABCg&sclient=gws-wiz">
                            <img src="{{url_for('static',filename='images/mbr-337x410.jpg')}}"
                                alt="Sir Ernest Rutherford">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>About Rutherfords Studio</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">Rutherfords' studio is a new turn of learning
                        platforms. <br>It is enriched with all the revolutarizing technologies, communities, and wide
                        variety of resources are supported here. We prove there is no limit and no custom for the
                        education.&nbsp;</p>
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                        <strong>Follow Us</strong>
                    </h5>
                    <div class="social-row display-7">
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="mbr-iconfont mbrib-github"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="mbr-iconfont socicon-telegram socicon"></span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Pages</strong></h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap"><a href="index.html" class="text-primary" target="_blank">Home
                                page</a></li>
                        <li class="mbr-text item-wrap"><a href="page3.html#form5-1x" class="text-primary"
                                target="_blank">Help Forums</a></li>
                        <li class="mbr-text item-wrap"><a href="resources.html#features14-17"
                                class="text-primary">Resources</a></li>
                        <li class="mbr-text item-wrap"><a href="about_page.html#countdown1-u"
                                class="text-primary">Events</a></li>
                        <li class="mbr-text item-wrap"><a href="blog_gym.html#content4-2d" class="text-primary"
                                target="_blank">Contribute your resources</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>&nbsp;Features</strong></h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap"><a href="https://pusher.com/tutorials/code-playground-react"
                                class="text-primary" target="_blank">Code Editor</a></li><a
                            href="https://pusher.com/tutorials/code-playground-react" class="text-primary"
                            target="_blank">
                        </a>
                        <li class="mbr-text item-wrap"><a href="resources.html#team1-1d"
                                class="text-primary">Communities</a></li>
                        <li class="mbr-text item-wrap"><a href="blog_gym.html#content10-2k" class="text-primary">Github
                                projects integration</a></li>
                        <li class="mbr-text item-wrap"><a href="https://developers.google.com/books/docs/v1/using"
                                class="text-primary" target="_blank">Google books API</a></li>
                        <li class="mbr-text item-wrap"><a href="https://developers.google.com/classroom"
                                class="text-primary">Google classroom API integration</a></li>
                        <li class="mbr-text item-wrap"><a href="https://rapidapi.com/blog/top-free-music-data-apis/"
                                class="text-primary" target="_blank">Music API</a></li>
                        <li class="mbr-text item-wrap"><a href="https://developers.google.com/calendar"
                                class="text-primary" target="_blank">Connect your google calaender</a></li>
                        <li class="mbr-text item-wrap"><br></li>
                    </ul>
                </div>
                <div class="col-12 mt-4">
                    <p class="mbr-text mb-0 mbr-fonts-style copyright align-center display-7">
                        © Copyright Team Rutherfords' 2021- All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section
        style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
        <a href="#" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
        <p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="#"
                style="color:#aaa;">This web page</a> was designed withRutherford Studiotemplates</p>
    </section>
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
    <!-- <script src="assets/theme/js/script.js"></script> -->


    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i
                class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
</body>

</html>