    <!-- assets/web/assets/jquery/jquery.min.js -->
    <script src="{{url_for('static',filename='web/assets/jquery/jquery.min.js')}}"></script>
    <!-- assets/popper/popper.min.js -->
    <script src="{{url_for('static',filename='popper/popper.min.js')}}"></script>
    <!-- assets/tether/tether.min.js -->
    <script src="{{url_for('static',filename='tether/tether.min.js')}}"></script>
    <!-- assets/bootstrap/js/bootstrap.min.js -->
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script> 
    <!-- assets/smoothscroll/smooth-scroll.js -->
    <script src="{{url_for('static',filename='smoothscroll/smooth-scroll.js')}}"></script>
    <!-- assets/viewportchecker/jquery.viewportchecker.js -->
    <script src="{{url_for('static',filename='viewportchecker/jquery.viewportchecker.js')}}"></script>
    <!-- assets/dropdown/js/nav-dropdown.js -->
    <script src="{{url_for('static',filename='dropdown/js/nav-dropdown.js')}}"></script>
    <!-- assets/dropdown/js/navbar-dropdown.js -->
    <script src="{{url_for('static',filename='dropdown/js/navbar-dropdown.js')}}"></script>
    <!-- assets/touchswipe/jquery.touch-swipe.min.js -->
    <script src="{{url_for('static',filename='touchswipe/jquery.touch-swipe.min.js')}}"></script>
    <!-- assets/parallax/jarallax.min.js -->
    <script src="{{url_for('static',filename='parallax/jarallax.min.js')}}"></script>
    <!-- assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js -->
    <script src="{{url_for('static',filename='bootstrapcarouselswipe/bootstrap-carousel-swipe.js')}}"></script>
    <!-- assets/mbr-testimonials-slider/mbr-testimonials-slider.js -->
    <script src="{{url_for('static',filename='mbr-testimonials-slider/mbr-testimonials-slider.js')}}"></script>

    <script src="{{url_for('static',filename='formstyler/jquery.formstyler.js')}}"></script>
    <script src="{{url_for('static',filename='formstyler/jquery.formstyler.min.js')}}"></script>
    {{ moment.include_moment() }}
    <!-- <script src="assets/theme/js/script.js"></script> -->
    <script src="{{url_for('static',filename='datepicker/jquery.datetimepicker.full.js')}}"></script>
    <!-- assets/formoid/formoid.min.js -->
    <script src="{{url_for('static',filename='formoid/formoid.min.js')}}"></script>
    <!-- <script src="assets/theme/js/script.js"></script> -->
    <!-- <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i
        class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden"> -->
    <!-- <script src="assets/theme/js/script.js"></script> -->
    {{ pagedown.include_pagedown() }}

<!-- <script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
 <script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
<script src="assets/dropdown/js/nav-dropdown.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
 <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<!-- <script src="assets/theme/js/script.js"></script> -->
<!-- <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i
    class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
<input name="animation" type="hidden">  -->