<div class="carousel-item">
    <div class="user col-md-8">
        <div class="user_image">
            <a href="https://in.linkedin.com/in/balasaraswathi-yugandher-563a2b17b"><img
                    src="assets/images/yugandher-200x200.jpeg" alt=""></a>
        </div>
        <div class="user_text mb-4">
            <p class="mbr-fonts-style display-7">
                Student at kalasalingam university department of computer science and engineering.
                wanted to build a entrepreneurship like a kingdom and serve the nation and world. my
                main moto is to be helpful to all without seeking any benefits. dream to be work in
                industrial giant's like google,apple,ibm etc., to gain experience. Always wish to
                connect people
            </p>
        </div>
        <div class="user_name mbr-fonts-style mb-2 display-7"><strong>Balasaraswathi
                Yugandher</strong></div>
        <div class="user_desk mbr-fonts-style display-7">
            DEVELOPER
        </div>
    </div>
</div>